.gallery--container {
  @apply block w-full h-full mt-10 mb-10;

  .masonry {
    column-count: 4;

    @apply gap-10;

    .brick {
      @apply h-full mb-10;

      &:last-child {
        @apply mb-0;
      }
    }

    img {
      @apply h-full;
    }
  }
}

@media only screen and (max-width: 768px) {
  .gallery--container {
    .masonry {
      column-count: 2;
    }
  }
}

@media only screen and (max-width: 535px) {
  .gallery--container {
    .masonry {
      column-count: 1;
    }
  }
}
